.cover__subtitle {
  padding: 0;
  margin: 32px 0 0 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 715px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 275px;
    margin-top: 16px;
  }
}
