.content__section-wide {
  margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
  .content__section-wide {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .content__section-wide {
    margin-bottom: 64px;
  }
}
