.cover {
  max-width: calc(100% - 48px*2);
  aspect-ratio: 8/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/cover-trains.jpg) no-repeat center/cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}
